/* **************************** */
/* GRIDS */
/* **************************** */
/*  @BODY, grid para central la pagina*/
.gridCentral{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
}


/* @ HEADER, grid para distribuir logo y nav*/
header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* @MAIN, grid para centralizar banner*/
main{
    display: grid;
    justify-content: center;
}