/* **************************** */
/* VARIABLES */
/* **************************** */

/* Colores*/
$colorFondo: (#F8F8F8);
$colorLetra: (#000000);

/*Tipografía*/
$font-family: ("Roboto", sans-serif);